/docker/image-musician/src/node_modules/require-directory/.jshintrc
/docker/image-musician/src/node_modules/require-directory/.npmignore
/docker/image-auditor/src/node_modules/.package-lock.json
/docker/image-musician/src/node_modules/.package-lock.json
/docker/image-musician/src/node_modules/require-directory/.travis.yml
/docker/image-musician/src/node_modules/yargs/build/lib/utils/apply-extends.js
/docker/image-musician/src/node_modules/yargs/build/lib/argsert.js
/docker/image-musician/src/node_modules/yargs/locales/be.json
/docker/image-musician/src/node_modules/yargs-parser/browser.js
/docker/image-musician/src/node_modules/yargs/lib/platform-shims/browser.mjs
/docker/image-musician/src/node_modules/yargs/browser.mjs
/docker/image-musician/src/node_modules/cliui/CHANGELOG.md
/docker/image-musician/src/node_modules/color-convert/CHANGELOG.md
/docker/image-musician/src/node_modules/uuid/CHANGELOG.md
/docker/image-musician/src/node_modules/y18n/CHANGELOG.md
/docker/image-musician/src/node_modules/yargs/CHANGELOG.md
/docker/image-musician/src/node_modules/yargs-parser/CHANGELOG.md
/docker/image-musician/src/node_modules/y18n/build/lib/cjs.js
/docker/image-musician/src/node_modules/yargs/build/lib/command.js
/docker/image-musician/src/node_modules/yargs/build/lib/typings/common-types.js
/docker/image-musician/src/node_modules/yargs/build/lib/completion.js
/docker/image-musician/src/node_modules/yargs/build/lib/completion-templates.js
/docker/image-musician/src/node_modules/uuid/CONTRIBUTING.md
/docker/image-musician/src/node_modules/color-convert/conversions.js
/docker/image-musician/src/node_modules/yargs/locales/de.json
/docker/image-musician/src/node_modules/yargs/locales/en.json
/docker/image-musician/src/node_modules/yargs/locales/es.json
/docker/image-musician/src/node_modules/yargs/lib/platform-shims/esm.mjs
/docker/image-musician/src/node_modules/yargs/locales/fi.json
/docker/image-musician/src/node_modules/yargs/locales/fr.json
/docker/image-musician/src/node_modules/yargs/helpers/helpers.mjs
/docker/image-musician/src/node_modules/yargs/locales/hi.json
/docker/image-musician/src/node_modules/yargs/locales/hu.json
/docker/image-musician/src/node_modules/yargs/locales/id.json
/docker/image-musician/src/node_modules/cliui/build/index.cjs
/docker/image-musician/src/node_modules/y18n/build/index.cjs
/docker/image-musician/src/node_modules/yargs/build/index.cjs
/docker/image-musician/src/node_modules/yargs/index.cjs
/docker/image-musician/src/node_modules/yargs-parser/build/index.cjs
/docker/image-musician/src/node_modules/ansi-regex/index.d.ts
/docker/image-musician/src/node_modules/ansi-styles/index.d.ts
/docker/image-musician/src/node_modules/emoji-regex/index.d.ts
/docker/image-musician/src/node_modules/escalade/sync/index.d.ts
/docker/image-musician/src/node_modules/escalade/index.d.ts
/docker/image-musician/src/node_modules/get-caller-file/index.d.ts
/docker/image-musician/src/node_modules/is-fullwidth-code-point/index.d.ts
/docker/image-musician/src/node_modules/string-width/index.d.ts
/docker/image-musician/src/node_modules/strip-ansi/index.d.ts
/docker/image-auditor/src/node_modules/net/index.js
/docker/image-musician/src/node_modules/ansi-regex/index.js
/docker/image-musician/src/node_modules/ansi-styles/index.js
/docker/image-musician/src/node_modules/cliui/build/lib/index.js
/docker/image-musician/src/node_modules/color-convert/index.js
/docker/image-musician/src/node_modules/color-name/index.js
/docker/image-musician/src/node_modules/emoji-regex/es2015/index.js
/docker/image-musician/src/node_modules/emoji-regex/index.js
/docker/image-musician/src/node_modules/escalade/dist/index.js
/docker/image-musician/src/node_modules/escalade/sync/index.js
/docker/image-musician/src/node_modules/get-caller-file/index.js
/docker/image-musician/src/node_modules/is-fullwidth-code-point/index.js
/docker/image-musician/src/node_modules/require-directory/index.js
/docker/image-musician/src/node_modules/string-width/index.js
/docker/image-musician/src/node_modules/strip-ansi/index.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/index.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/index.js
/docker/image-musician/src/node_modules/uuid/dist/index.js
/docker/image-musician/src/node_modules/wrap-ansi/index.js
/docker/image-musician/src/node_modules/y18n/build/lib/index.js
/docker/image-musician/src/node_modules/yargs/helpers/index.js
/docker/image-musician/src/node_modules/yargs-parser/build/lib/index.js
/docker/image-musician/src/node_modules/get-caller-file/index.js.map
/docker/image-musician/src/node_modules/cliui/index.mjs
/docker/image-musician/src/node_modules/escalade/dist/index.mjs
/docker/image-musician/src/node_modules/escalade/sync/index.mjs
/docker/image-musician/src/node_modules/y18n/index.mjs
/docker/image-musician/src/node_modules/yargs/index.mjs
/docker/image-musician/src/node_modules/yargs/build/lib/utils/is-promise.js
/docker/image-musician/src/node_modules/yargs/locales/it.json
/docker/image-musician/src/node_modules/yargs/locales/ja.json
/docker/image-musician/src/node_modules/yargs/locales/ko.json
/docker/image-musician/src/node_modules/yargs/build/lib/utils/levenshtein.js
/docker/image-auditor/src/node_modules/net/LICENSE
/docker/image-musician/src/node_modules/color-convert/LICENSE
/docker/image-musician/src/node_modules/color-name/LICENSE
/docker/image-musician/src/node_modules/require-directory/LICENSE
/docker/image-musician/src/node_modules/y18n/LICENSE
/docker/image-musician/src/node_modules/yargs/LICENSE
/docker/image-musician/src/node_modules/ansi-regex/license
/docker/image-musician/src/node_modules/ansi-styles/license
/docker/image-musician/src/node_modules/escalade/license
/docker/image-musician/src/node_modules/is-fullwidth-code-point/license
/docker/image-musician/src/node_modules/string-width/license
/docker/image-musician/src/node_modules/strip-ansi/license
/docker/image-musician/src/node_modules/wrap-ansi/license
/docker/image-musician/src/node_modules/get-caller-file/LICENSE.md
/docker/image-musician/src/node_modules/uuid/LICENSE.md
/docker/image-musician/src/node_modules/cliui/LICENSE.txt
/docker/image-musician/src/node_modules/yargs-parser/LICENSE.txt
/docker/image-musician/src/node_modules/emoji-regex/LICENSE-MIT.txt
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/md5.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/md5.js
/docker/image-musician/src/node_modules/uuid/dist/md5.js
/docker/image-musician/src/node_modules/uuid/dist/md5-browser.js
/docker/image-musician/src/node_modules/yargs/build/lib/middleware.js
/docker/image-musician/src/node_modules/yargs/locales/nb.json
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/nil.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/nil.js
/docker/image-musician/src/node_modules/uuid/dist/nil.js
/docker/image-musician/src/node_modules/yargs/locales/nl.json
/docker/image-musician/src/node_modules/yargs/locales/nn.json
/docker/image-musician/src/node_modules/y18n/build/lib/platform-shims/node.js
/docker/image-musician/src/node_modules/yargs/build/lib/utils/obj-filter.js
/docker/image-auditor/src/node_modules/net/package.json
/docker/image-musician/src/node_modules/ansi-regex/package.json
/docker/image-musician/src/node_modules/ansi-styles/package.json
/docker/image-musician/src/node_modules/cliui/package.json
/docker/image-musician/src/node_modules/color-convert/package.json
/docker/image-musician/src/node_modules/color-name/package.json
/docker/image-musician/src/node_modules/dgram/package.json
/docker/image-musician/src/node_modules/emoji-regex/package.json
/docker/image-musician/src/node_modules/escalade/package.json
/docker/image-musician/src/node_modules/get-caller-file/package.json
/docker/image-musician/src/node_modules/is-fullwidth-code-point/package.json
/docker/image-musician/src/node_modules/require-directory/package.json
/docker/image-musician/src/node_modules/string-width/package.json
/docker/image-musician/src/node_modules/strip-ansi/package.json
/docker/image-musician/src/node_modules/uuid/package.json
/docker/image-musician/src/node_modules/wrap-ansi/package.json
/docker/image-musician/src/node_modules/y18n/package.json
/docker/image-musician/src/node_modules/yargs/helpers/package.json
/docker/image-musician/src/node_modules/yargs/package.json
/docker/image-musician/src/node_modules/yargs-parser/package.json
/docker/image-auditor/src/package-lock.json
/docker/image-musician/src/package-lock.json
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/parse.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/parse.js
/docker/image-musician/src/node_modules/uuid/dist/parse.js
/docker/image-musician/src/node_modules/yargs/build/lib/parse-command.js
/docker/image-musician/src/node_modules/yargs/locales/pirate.json
/docker/image-musician/src/node_modules/yargs/locales/pl.json
/docker/image-musician/src/node_modules/yargs/build/lib/utils/process-argv.js
/docker/image-musician/src/node_modules/yargs/locales/pt.json
/docker/image-musician/src/node_modules/yargs/locales/pt_BR.json
/docker/image-musician/src/node_modules/require-directory/README.markdown
/docker/image-auditor/src/node_modules/net/README.md
/docker/image-musician/src/node_modules/cliui/README.md
/docker/image-musician/src/node_modules/color-convert/README.md
/docker/image-musician/src/node_modules/color-name/README.md
/docker/image-musician/src/node_modules/dgram/README.md
/docker/image-musician/src/node_modules/emoji-regex/README.md
/docker/image-musician/src/node_modules/get-caller-file/README.md
/docker/image-musician/src/node_modules/uuid/README.md
/docker/image-musician/src/node_modules/y18n/README.md
/docker/image-musician/src/node_modules/yargs/README.md
/docker/image-musician/src/node_modules/yargs-parser/README.md
/docker/image-musician/src/node_modules/ansi-regex/readme.md
/docker/image-musician/src/node_modules/ansi-styles/readme.md
/docker/image-musician/src/node_modules/escalade/readme.md
/docker/image-musician/src/node_modules/is-fullwidth-code-point/readme.md
/docker/image-musician/src/node_modules/string-width/readme.md
/docker/image-musician/src/node_modules/strip-ansi/readme.md
/docker/image-musician/src/node_modules/wrap-ansi/readme.md
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/regex.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/regex.js
/docker/image-musician/src/node_modules/uuid/dist/regex.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/rng.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/rng.js
/docker/image-musician/src/node_modules/uuid/dist/rng.js
/docker/image-musician/src/node_modules/uuid/dist/rng-browser.js
/docker/image-musician/src/node_modules/color-convert/route.js
/docker/image-musician/src/node_modules/yargs/locales/ru.json
/docker/image-musician/src/node_modules/yargs/build/lib/utils/set-blocking.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/sha1.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/sha1.js
/docker/image-musician/src/node_modules/uuid/dist/sha1.js
/docker/image-musician/src/node_modules/uuid/dist/sha1-browser.js
/docker/image-musician/src/node_modules/cliui/build/lib/string-utils.js
/docker/image-musician/src/node_modules/yargs-parser/build/lib/string-utils.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/stringify.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/stringify.js
/docker/image-musician/src/node_modules/uuid/dist/stringify.js
/docker/image-auditor/src/node_modules/net/test.js
/docker/image-musician/src/node_modules/emoji-regex/es2015/text.js
/docker/image-musician/src/node_modules/emoji-regex/text.js
/docker/image-musician/src/node_modules/yargs/locales/th.json
/docker/image-musician/src/node_modules/yargs-parser/build/lib/tokenize-arg-string.js
/docker/image-musician/src/node_modules/yargs/locales/tr.json
/docker/image-musician/src/node_modules/yargs/build/lib/usage.js
/docker/image-musician/src/node_modules/.bin/uuid
/docker/image-musician/src/node_modules/uuid/dist/bin/uuid
/docker/image-musician/src/node_modules/uuid/dist/umd/uuid.min.js
/docker/image-musician/src/node_modules/uuid/dist/uuid-bin.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidNIL.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidParse.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidStringify.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidv1.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidv3.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidv4.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidv5.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidValidate.min.js
/docker/image-musician/src/node_modules/uuid/dist/umd/uuidVersion.min.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/v1.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/v1.js
/docker/image-musician/src/node_modules/uuid/dist/v1.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/v3.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/v3.js
/docker/image-musician/src/node_modules/uuid/dist/v3.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/v4.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/v4.js
/docker/image-musician/src/node_modules/uuid/dist/v4.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/v5.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/v5.js
/docker/image-musician/src/node_modules/uuid/dist/v5.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/v35.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/v35.js
/docker/image-musician/src/node_modules/uuid/dist/v35.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/validate.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/validate.js
/docker/image-musician/src/node_modules/uuid/dist/validate.js
/docker/image-musician/src/node_modules/yargs/build/lib/validation.js
/docker/image-musician/src/node_modules/uuid/dist/esm-browser/version.js
/docker/image-musician/src/node_modules/uuid/dist/esm-node/version.js
/docker/image-musician/src/node_modules/uuid/dist/version.js
/docker/image-musician/src/node_modules/yargs/build/lib/utils/which-module.js
/docker/image-musician/src/node_modules/uuid/wrapper.mjs
/docker/image-musician/src/node_modules/yargs/yargs
/docker/image-musician/src/node_modules/yargs/build/lib/yargs-factory.js
/docker/image-musician/src/node_modules/yargs-parser/build/lib/yargs-parser.js
/docker/image-musician/src/node_modules/yargs/build/lib/typings/yargs-parser-types.js
/docker/image-musician/src/node_modules/yargs-parser/build/lib/yargs-parser-types.js
/docker/image-musician/src/node_modules/yargs/build/lib/yerror.js
/docker/image-musician/src/node_modules/yargs/locales/zh_CN.json
/docker/image-musician/src/node_modules/yargs/locales/zh_TW.json
